body {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
    background-color: #222930 ;
    color: #E9E9E9 ;
    }

 h1.title { font-family: Couture, sans-serif;
           color: #E9E9E9;
           letter-spacing: 8px;
           font-size: 30px }

h1 {
	font-size: 30px;
}

header {
    padding: 1em;
    background-color: #222930 ;
    clear: left;
    text-align: left;
}

 p{ text-align: justify; }

 li a {
	display: block;
	color: #222930;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
	
}

li a:hover {
	background-color: #222930;
	color: white;
	font-weight: bold;
}

 nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4EB1BA;
	font-size: 18px;
}

 li.bar {
	padding: 5px;
	display: inline;
	float: right;
}

 li.items {
	padding: 5px;
	
}

section {
	margin-left: 200px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

aside {
	float: left;
    max-width: 450px;
    margin: 0;
    padding: 1em;
}

aside ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #4EB1BA;
}

footer {
	 padding: 0.3em;
    color: white;
    background-color: #222930;
    clear: left;
    text-align: left;
}